# Configuration file for the PasteAlignments software.
#
# It is recommended to be copied and modified. File must be passed as the
# 'config' keyword parameter value to the paste_alignments command. To set
# values, uncommend the corresponding name and replace the argument
# appropriately. To set flags, use arguments TRUE or FALSE.



# Tab-delimited HSP table as returned by BLAST with option `-outfmt '6 qseqid
# sseqid qstart qend sstart send nident mismatch gapopen gaps qlen slen length
# qseq sseq. If executing in blind mode, the last two columns can be left out.
# Each alignment is considered to be on the minus strand if it's subject end
# coordinate precedes its subject start coordinate. Fields in excess of 13 (11
# if in blind mode) are ignored.
#input_file=INPUT_FILE

# Size of the database used for the BLAST search. Required for the computation
# of evalues.
#db_size=INTEGER

# Tab-delimited HSP table with columns: qseqid sseqid qstart qend sstart send
# nident mismatch gapopen gaps qlen slen length qseq sseq pident score bitscore
# evalue rows, where 'rows' is a comma-separated list of row numbers for the
# alignments from the input file that, when pasted together, constitute the
# output alignments. If executing in blind mode, the qseq and sseq columns are
# omitted. For alignments on the minus strand, the subject end coordinate
# precedes its subject start coordinate.
#output_file=OUTPUT_FILE

# Maximum gap length allowed to be introduced through pasting.
#gap_tolerance=4

# Percent identity threshold alignments must satisfy to be included in the
# output.
#final_pident=0.0

# Raw score threshold alignments must satisfy to be included in the output.
#final_score=0.0

# Percent identity threshold that must be satisfied during pasting.
#intermediate_pident=0.0

# Raw score threshold that must be satisfied during pasting.
#intermediate_score=0.0

# Match reward used to compute score, bitscore, and evalue. Only a fixed set of
# values is supported.
#reward=1

# Mismatch penalty used to compute score, bitscore, and evalue. Only a fixed set
# of values is supported.
#penalty=2

# Gap opening cost used to compute score, bitscore, and evalue. Only a fixed set
# of values is supported. For megablast scoring parameters set this value to 0.
#gapopen=0

# Gap extension cost used to compute score, bitscore, and evalue. Only a fixed
# set of values is supported. For megablast scoring parameters set this value to
# 0.
#gapextend=0

# Print overall statistics in JSON format with 1: number of alignments, 2:
# number of pastings performed, 3: average alignment length, 4: average percent
# identity, 5: average raw alignment score, 6: average bitscore, 7: average
# evalue, 8: average number of unknown N-N matches (which are treated as
# mismatches).
#summary_file=SUMMARY_FILE

# Print tab-separated data with columns: 1: query sequence identifier, 2:
# subject sequence identifier, 3: number of alignments, 4: number of pastings
# performed, 5: average alignment length, 6: average percent identity, 7:
# average raw alignment score, 8: average bitscore, 9: average evalue, 10:
# average number of unknown N-N matches (which are treated as mismatches.
#stats_file=STATS_FILE

# Used for floating point comparison of the C++ `float` data type. When
# comparing two floating points for equality, this value, multiplied with the
# smaller non-zero magnitude of the two, determines the maximum distance the two
# floating points may be apart to be considered equal. If both floating points
# are exactly 0.0, then they are considered equal.
#float_epsilon=0.01

# Used for floating point comparison of the C++ `double` data type. When
# comparing two floating points for equality, this value, multiplied with the
# smaller non-zero magnitude of the two, determines the maximum distance the two
# floating points may be apart to be considered equal. If both floating points
# are exactly 0.0, then they are considered equal.
#double_epsilon=0.01

# Disregard actual sequences during pasting. No alignment sequences are read or 
# constructed during pasting in this mode. However query and subject
# coordinates, number of identities, mismatches, gap openings, and gap
# extensions (and thus percent identity, score, bitscore, and evalue) are still
# computed.
#blind_mode=FALSE
